body{
    background-color: rgba(134, 134, 233, 0.411);
}

#toolbox{
    display: block;
    float: left;
    width: 200px;
    height: 700px;
    border: 3px double;
    background-color: #cccccc;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li  {
    float: left;
    width: 64px;
    height: 64px;
}

li:hover {
    background-color: #ffffff;
    border: 2px inset;
    width: 60px;
    height: 60px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropbtn{
    padding-left: 3px;
    border: 1px solid;
    border-radius: 25px;
}

#fontFaceBtn{
    width: 100px;
}

#fontSizeBtn{
    width: 60px;
}
#fontSizeCtx{
    min-width: 60px;
}

p{
    margin: 5px;
}

p:hover{
    background-color: gray;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ffffff;
}

#demo{
    width: 1000px;
    height: 700px;
    float: left;
    border: 3px inset;
    border-radius: 5px;
    margin-left: 10px;
    background-color: white;
}

#color-picker{
    display: block;
    float: left;
    background-color: gray;
    height: 150px;
    border: 5px inset;
}

#color-block{
    cursor: crosshair;
    margin: 0px;
}

#color-strip{
    cursor: crosshair;
    margin: 0px;
}

#now-color{
    border: 3px inset;
    margin-left: 2px;
}